*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background: lightgray;
    min-height: 200px;
    display: grid;
    grid-template-areas: 
        "encabezado encabezado"
        "menu noti"
        "pie pie"; 
}

.contenedor header {
    grid-area: encabezado;
    background: orange;
}

.contenedor .lista{
    grid-area: menu;
    background: rgba(118, 208, 118, 0.966);
}

.contenedor .noticias{
    grid-area: noti;
    background: darkkhaki;
}

.contenedor footer {
    grid-area: pie;
    background:darkorchid;
}


